.mainPage {
  background: linear-gradient(
    135deg,
    rgb(151, 171, 255) 10%,
    rgb(18, 53, 151) 100%
  );
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
.weather-app {
  max-width: 800px;
  border: 1px solid #5d5d5d;
  border-radius: 10px;
  padding: 0px 0px 20px;
}
.overview {
  margin-bottom: 20px;
}
.mainLine {
  padding: 0px 65px;
}
.weather-temperature {
  justify-content: space-between;
  align-items: center;
}
.d-flex img {
  height: 100px;
  width: 100px;
}
.d-flex #degrees-temp {
  color: #5d5d5d;
  font-size: 64px;
  font-weight: 400;
  padding-left: 10px;
}
.d-flex #units {
  position: relative;
  font-size: 16px;
  top: -17px;
  color: #5d5d5d;
}
#mainInfo {
  list-style-type: none;
  padding-left: 0;
  margin-top: -10px;
  padding-left: 0;
}
#city {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}
.date {
  color: #9cc1ca;
  font-size: 25px;
}

#weatherDeskription {
  color: #9cc1ca;
  font-size: 20px;
}

.currentWeather {
  text-align: center;
}
.weather-forecast {
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.searchCity {
  padding: 30px 60px;
}

.icon {
  margin: 10px;
}
#more {
  list-style-type: none;
  color: #5d5d5d;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#location {
  color: #fff;
}
.links {
  text-align: center;
  margin-top: 40px;
  color: #5d5d5d;
}
.link {
  color: #9cc1ca;
}
.link:hover {
  color: #fff;
}
a.active {
  color: rgb(32, 31, 82);
  cursor: default;
  text-decoration: none;
}
a.active:hover {
  text-decoration: none;
}
